/* CSS for the contact form page */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
/* CSS for input outlines and text areas */
input {
  outline: none;
  border: none;
}
textarea {
  outline: none;
  border: none;
}
textarea:focus,
input:focus {
  border-color: transparent;
}

iframe {
  border: none;
}
.container {
  max-width: 100%;
}
.contact-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: orange;
  background: linear-gradient(45deg, orange, teal);
}
.wrap {
  width: 500px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px;
}
.contact-form {
  width: 100%;
}
.form-title {
  display: block;
  font-size: 39px;
  color: black;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}
/* CSS for all form inputs  */
.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid lightgray;
  padding-bottom: 13px;
  margin-bottom: 27px;
}
.label-input {
  font-size: 20px;
  font-weight: 500;
  color: black;
  line-height: 1.5;
  padding-left: 5px;
}
.input {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 16px;
  color: black;
  line-height: 1.2;
  padding: 0 5px;
}
.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.focus-input:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.6s;
  background: 2px orange;
}
input.input {
  height: 40px;
}
textarea.input {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}
.input:focus + .focus-input:before {
  width: 100%;
}
.has-val.focus + .focus-input:before {
  width: 100%;
}
/* CSS for form buttons */
button {
  outline: none;
  border: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
}
.container-contact-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}
.wrap-contact-button {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.contact-form-divbtn{
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: orange;
  background: -webkit-linear-gradient(left, teal, orange,
   teal, orange );
  background: linear-gradient(left, teal, orange, teal, 
  orange );
  top: 0;
  left: -100%;
  transition: all 0.4s
}
.contact-form-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  font-size:  18px;
  color: white;
  line-height: 1.2
}
.wrap-contact-button:hover .contact-form-divbtn{
  left: 0;
}
/* CSS for social media PNG's */
.container > img{
  display: flex;
  flex-direction: column;
}