body{
 margin: 0px;
 overflow-x: hidden;
  
  
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 50px;
  color:  orange;
}
h5.undertitle {
  text-align: center;
}
#features {
  margin-top: 5%;
}
h3.best {
  display: flex;
  justify-content: center;
}
.homeimages {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-right: 10%;
  margin-left: 10%;
}
.describing {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-right: 10%;
  margin-left: 10%;
}
/**Quote**/
h2{
  font-size: 40px;
  background-color: teal;
  height: 300px;
  text-align: center;
  line-height: 300px;
  justify-content: center;
  
}


h3 {
  display: flex;
  justify-content: left;
  flex-direction: row;
}
.tell {
  margin: 0 auto;
  display: block;
  color: white;
}

h4 {
  display: flex;
  justify-content: left;
  flex-direction: row;
}
.container {
  border: 3px solid #fff;
  padding: 20px;
  text-align: justify;
}
.main {
  margin-left: 10%;
  width: 40%;
  float: left;
  padding: 20px;
  border: transparent red;
}
.main > .red {
  color: red;
}
.main > h5 {
  margin-right: 10%;
  text-align: justify;
}

.mainR {
  margin-right: 10%;
  width: 35%;
  float: right;
  padding: 20px;
  border: transparent red;
}
.mainR > p {
  margin-right: 10%;
  display: flex;
}
button {
  background-color:  orange;
  border: transparent;
  border-radius: 20px;
  height: 40px;
  color: white;

}
button:hover{
  background-color: blue
}


 .lines{
    margin-top:5%;
    margin-left: 12%;
    border: double;
    border-style:groove;
    justify-content: space-between;
    display: flex;
    width:75%;
    align-items: center;
  }
.image{
  float: left;
  margin-bottom:25px;
  margin-right: 25px
}
button.contact{
  font-size: 40px; 
  background-color: teal;
  height: 300px;
  text-align: center;
  line-height: 300px;
  justify-content: center;
  width: 100%;
}
button.contact:hover{
  background-color: orange
}

